<?xml version="1.0"?>
<menu>
    <!-- THE FONT USED FOR THE MENU -->
    <font id="Menu">resources/font/menu/menu.ttf</font>
    
    <!-- IMAGES FOR THE MOUSE -->
    <mouseImage id="Mouse">resources/images/menu/mouse.png</mouseImage>
    <mouseImage id="MouseDrag">resources/images/menu/mouseDrag.png</mouseImage>
    
    <!-- MENU COFIGURATION SETUP BELOW -->
    <layer id="Initial" next="Credits">
        <transition>NONE</transition>
        <force>true</force>
        <pause>false</pause>
        <duration>2000</duration>
        <image>resources/images/menu/title.png</image>
    </layer>
    <layer id="Credits" next="MainTitle">
        <transition>SCROLL_VERTICAL_NORTH</transition>
        <force>true</force>
        <pause>false</pause>
        <duration>5000</duration>
        <image>resources/images/menu/credit.png</image>
    </layer>
    <layer id="MainTitle">
        <transition>SCROLL_HORIZONTAL_WEST_REPEAT</transition>
        <force>false</force>
        <pause>true</pause>
        <duration>10000</duration>
        <image>resources/images/menu/background.png</image>
        <optionContainerRatio>0.5</optionContainerRatio>
        <optionBorderThickness>5</optionBorderThickness>
        <title>Nonograms</title>
        <backgroundMusicLocation></backgroundMusicLocation>
        <optionSoundLocation>resources/audio/menu/sound/selection.wav</optionSoundLocation>
        <options name="Start Game" next="GameStart" id="GameStart"></options>
        <options name="Options" next="Options" id="Options"></options>
        <options name="Controls" next="Controls1" id="Controls"></options>
        <options name="Instructions" next="Instructions1" id="Instructions"></options>
        <options name="Credits" next="StaticCredits" id="Credits"></options>
    </layer>
    <layer id="StaticCredits" next="MainTitle">
        <transition>NONE</transition>
        <force>false</force>
        <pause>true</pause>
        <duration></duration>
        <image>resources/images/menu/credit.png</image>
    </layer>
    <layer id="Options">
        <transition>SCROLL_HORIZONTAL_WEST_REPEAT</transition>
        <force>false</force>
        <pause>true</pause>
        <duration>10000</duration>
        <image>resources/images/menu/background.png</image>
        <optionContainerRatio>0.5</optionContainerRatio>
        <optionBorderThickness>5</optionBorderThickness>
        <title>Options</title>
        <backgroundMusicLocation></backgroundMusicLocation>
        <optionSoundLocation>resources/audio/menu/sound/selection.wav</optionSoundLocation>
        <options name="Difficulty - " id="Difficulty">
            <option>Medium</option>
            <option>Hard</option>
            <option>Very Hard</option>
            <option>Very Easy</option>
            <option>Easy</option>
        </options>
        <options name="Starting Funds - " id="Funds">
            <option>100</option>
            <option>500</option>
            <option>1000</option>
        </options>
        <options name="Lives - " id="Lives">
            <option>50</option>
            <option>100</option>
            <option>500</option>
        </options>
        <options name="All Sound: " id="Sound">
            <option>On</option>
            <option>Off</option>
        </options>
        <options name="Full Screen: " id="FullScreen">
            <option>Off</option>
            <option>On</option>
        </options>
        <options name="Go Back" next="MainTitle" id="MainTitle"></options>
    </layer>
    <layer id="Controls1" next="Controls2">
        <transition>NONE</transition>
        <force>false</force>
        <pause>true</pause>
        <duration></duration>
        <image>resources/images/menu/controls1.png</image>
    </layer>
    <layer id="Controls2" next="Controls3">
        <transition>NONE</transition>
        <force>false</force>
        <pause>true</pause>
        <duration></duration>
        <image>resources/images/menu/controls2.png</image>
    </layer>
    <layer id="Controls3" next="MainTitle">
        <transition>NONE</transition>
        <force>false</force>
        <pause>true</pause>
        <duration></duration>
        <image>resources/images/menu/controls3.png</image>
    </layer>
    <layer id="Instructions1" next="Instructions2">
        <transition>NONE</transition>
        <force>false</force>
        <pause>true</pause>
        <duration></duration>
        <image>resources/images/menu/instructions1.png</image>
    </layer>
    <layer id="Instructions2" next="Instructions3">
        <transition>NONE</transition>
        <force>false</force>
        <pause>true</pause>
        <duration></duration>
        <image>resources/images/menu/instructions2.png</image>
    </layer>
    <layer id="Instructions3" next="MainTitle">
        <transition>NONE</transition>
        <force>false</force>
        <pause>true</pause>
        <duration></duration>
        <image>resources/images/menu/instructions3.png</image>
    </layer>
    <layer id="GameStart">
        <!-- THIS LAYER IS INTENTIONALLY LEFT BLANK, THIS IS WHERE MAIN GAMEPLAY WILL START -->
    </layer>
    <layer id="OptionsInGame">
        <transition>NONE</transition>
        <force>false</force>
        <pause>true</pause>
        <duration></duration>
        <image></image>
        <optionContainerRatio>0.5</optionContainerRatio>
        <optionBorderThickness>5</optionBorderThickness>
        <title>Options</title>
        <backgroundMusicLocation></backgroundMusicLocation>
        <optionSoundLocation>resources/audio/menu/sound/selection.wav</optionSoundLocation>
        <options name="Resume" id="Resume" next="GameStart"></options>
        <options name="All Sound: " id="Sound">
            <option>On</option>
            <option>Off</option>
        </options>
        <options name="Full Screen: " id="FullScreen">
            <option>Off</option>
            <option>On</option>
        </options>
        <!--
        Hide this option for now, we may add back later
        <options name="New Game" next="NewGameConfirm" id="NewGameConfirm"></options>
        -->
        <options name="Exit Game" next="ExitGameConfirm" id="ExitGameConfirm"></options>
    </layer>
    <layer id="NewGameConfirm">
        <transition>NONE</transition>
        <force>false</force>
        <pause>true</pause>
        <duration></duration>
        <image></image>
        <optionContainerRatio>0.5</optionContainerRatio>
        <optionBorderThickness>5</optionBorderThickness>
        <title>Reset?</title>
        <options name="Yes" next="CreateNewGame" id="CreateNewGame"></options>
        <options name="No" next="OptionsInGame" id="OptionsInGame"></options>
    </layer>
    <layer id="CreateNewGame">
    </layer>
    <layer id="ExitGameConfirm">
        <transition>NONE</transition>
        <force>false</force>
        <pause>true</pause>
        <duration></duration>
        <image></image>
        <optionContainerRatio>0.5</optionContainerRatio>
        <optionBorderThickness>5</optionBorderThickness>
        <title>Leave?</title>
        <options name="Yes" next="ExitGameConfirmed" id="MainTitle"></options>
        <options name="No" next="OptionsInGame" id="OptionsInGame"></options>
    </layer>
    <layer id="ExitGameConfirmed"></layer>
    <layer id="NoFocus">
        <transition>NONE</transition>
        <force>false</force>
        <pause>true</pause>
        <duration></duration>
        <image>resources/images/menu/nofocus.png</image>
    </layer>
</menu>